body {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* SEARCH PAGE */

#search_bar {
	padding: 10px;
	width: 400px;
	border-radius: 10%;
}

#search_bar:hover {
	cursor: text;
}

.submit-btn {
	padding: 10px;
	margin-top: 15px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.submit_btn-container {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	font-family: "PT Sans", sans-serif;
	font-size: 62px;
	margin-bottom: 20px;
}

input:hover {
	cursor: pointer;
}
